DISCORD_TOKEN=MTUxNzExMzU2OTUyNTYyODk5OA.GzZS0v.hyahK25Yh6OqfBMV3j6imTvykmdGMkUrRI9T7k
MONGO_TOKEN=mongodb+srv://Aerix:<ranveer420op>@cluster0.n39lwy9.mongodb.net/?appName=Cluster0
GIPHY_TOKEN=
WEBHOOK_ID=1517119912642871369
WEBHOOK_TOKEN=hX7eyo23AShlHLT3P_II22SehrseKeVvu-cM1OgZgzfzhngoqci5ENzgJUTLC5aZzWLq
DISCORD_ID=1455577251990212615
OWNER_ID=1517113569525628998
GROQ=

# Not neccessary variables
DISCORD_STATUS="Listening to meself, i love you" # seprate by comma
RADIO="" # default to https://icecast-qmusicnl-cdp.triple-it.nl/Qmusic_nl_live.mp3
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST="lava.link"
LAVALINK_PASSWORD="I'm a secret"
LAVALINK_PORT=80
LAVALINK_SECURE=false
